<div class="modal fade" id="add_technology" tabindex="-1" aria-labelledby="add_technology" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content overflow-hidden">
            <div class="modal-header">
                <div class="modal-title">
                    <h4 class="mb-0 text-capitalize">Add a member to the team</h4>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/dashbord/technology/create" method="post" id="form_add_technology">
                    <div class="mb-3">
                        <label class="form-label label-1 text-capitalize">icon technology</label>
                        <input type="text" class="form-control" name="icon" placeholder="enter icon technology" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label label-1 text-capitalize">title technology</label>
                        <input type="text" class="form-control" name="title" placeholder="enter title technology" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label label-1 text-capitalize">link technology</label>
                        <input type="url" class="form-control" name="link" placeholder="enter link technology" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="form_add_technology">submit</button>
            </div>

        </div>
    </div>
</div>