<footer class="py-5 mt-5 bg-accent">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-4">
                <h3 class="mb-4 text-capitalize">it-sdn</h3>
                <p>Notre objectif est de vous servir</p>
                <p class="fw-bold fs-4">27137808</p>
            </div>
            <div class="col-md-2 mt-4">
                <ul class="list-unstyled">
                    <h5 class="mb-4">Navigation</h5>
                    <li class="mb-2 text-capitalize">
                        <a href="/" class="text-dark d-block">home</a>
                    </li>
                    <li class="mb-2 text-capitalize">
                        <a href="/services" class="text-dark d-block">services</a>
                    </li>
                    <li class="mb-2 text-capitalize">
                        <a href="/docs" class="text-dark d-block">Documentation</a>
                    </li>
                    <li class="mb-2 text-capitalize">
                        <a href="/contact" class="text-dark d-block">contact us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 mt-4">
                <ul class="list-unstyled">
                    <h5 class="mb-4">Services</h5>
                    <li class="mb-2 text-capitalize">
                        <a href="/" class="text-dark d-block">securite</a>
                    </li>
                    <li class="mb-2 text-capitalize">
                        <a href="/" class="text-dark d-block">souvegarde</a>
                    </li>
                    <li class="mb-2 text-capitalize">
                        <a href="/" class="text-dark d-block">suprevision</a>
                    </li>
                    <li class="mb-2 text-capitalize">
                        <a href="/" class="text-dark d-block">emulation</a>
                    </li>
                    <li class="mb-2 text-capitalize">
                        <a href="/" class="text-dark d-block">developpement</a>
                    </li>
                    <li class="mb-2 text-capitalize">
                        <a href="/" class="text-dark d-block">virtualisation</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 mt-4">
                <h5 class="mb-4">Subscribe with us </h5>
                <p>contactez-nous
                </p>
                <form action="">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="enter email "
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-primary" type="button">Subscribe </button>
                    </div>
                </form>
                <ul class="socail d-flex align-items-center list-unstyled">
                    <li class="socail__item me-3">
                        <a class="text-dark d-block fs-4" href="/">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                    <li class="socail__item me-3">
                        <a class="text-dark d-block fs-4" href="/">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li class="socail__item me-3">
                        <a class="text-dark d-block fs-4" href="/">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li class="socail__item me-2 ">
                        <a class="text-dark d-block fs-4" href="/">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>